#ASSIGNMENT 2 - AUTO ML
 
**Author: Jatin Madan**

**NUID: 002727159**

Implementing AutoML: Automated machine learning, often known as automated ML or AutoML, is the process of automating the laborious, iterative activities associated with developing a machine learning model. It enables model quality to be maintained while ML models are built at high scale, efficiency, and productivity by data scientists, analysts, and developers.


H2O is a distributed in-memory machine learning platform with linear scalability that can be used to implement AutoML. The most popular statistical and machine learning algorithms, such as deep learning, generalized linear models, and gradient boosted machines, are supported by H2O.

#PROBLEM STATEMENT: 
Using H2O AutoML to train a model that will help us predict whether the customers request for credit card will get approved or not. The dataset we will be working with contains information on various background information of the customers. The main aim of this project is to predict the customers request for credit card will get approved or not.

###INSTALLING H2O

In [1]:
! pip install h2o

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting h2o
  Downloading h2o-3.38.0.2.tar.gz (177.4 MB)
     |████████████████████████████████| 177.4 MB 40 kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.10)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.38.0.2-py2.py3-none-any.whl size=177521195 sha256=600ddad463e89d355bda8037b3e33d6fe5002cf9088eab71ca3314e8d00d5a4b
  Stored in directory: /root/.cache/pip/wheels/e4/ef/ab/a9b2e452e18b3dfea0b6114bc57c3b9e8b0e464eb2d03230e1
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.38.0.2

###IMPORTING LIBRARIES

To use H2O in Python, we first initialize a connection between our Python and an H2O local server. 

Connecting to cluster

In [2]:
# Load the H2O library and start up the H2O cluter locally on your machine
import h2o
import pandas as pd
from h2o.automl import H2OAutoML
import re
import matplotlib.pylab as plt
import numpy as np
# Number of threads, nthreads = -1, means use all cores on your machine
# max_mem_size is the maximum memory (in GB) to allocate to H2O
h2o.init(nthreads = -1, max_mem_size = 8)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.16" 2022-07-19; OpenJDK Runtime Environment (build 11.0.16+8-post-Ubuntu-0ubuntu118.04); OpenJDK 64-Bit Server VM (build 11.0.16+8-post-Ubuntu-0ubuntu118.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp17l8nf3l
  JVM stdout: /tmp/tmp17l8nf3l/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmp17l8nf3l/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ----------------------------------
H2O_cluster_uptime:         05 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.38.0.2
H2O_cluster_version_age:    11 days
H2O_cluster_name:           H2O_from_python_unknownUser_x3a1e8
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    8 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.7.15 final
--------------------------  ----------------------------------

**About the Dataset: Credit Card classification**

The bank manager has noticed that more and more customers are applying for their credit card services. They would certainly like it if someone could foresee who can more likely to get approve the credit card request knowing their background details such as Years of Employment, Type of Income, Family Status, etc.

Dataset consists of 9709 customers and there are nearly 20 features.

###LOADING DATASET

In [3]:
# loading datset
path = "/content/clean_data.csv"
data_path = pd.read_csv("/content/clean_data.csv")

In [4]:
# creating a copy of the dataset
df_copy=data_path.copy()

In [6]:
# Replacing the Target binary values into String values to perform Binomial classification
df_copy['Target'] = df_copy['Target'].replace(1, "Y")
df_copy['Target'] = df_copy['Target'].replace(0, "N")

In [7]:
data_path.head(5)

,ID,Gender,Own_car,Own_property,Work_phone,Phone,Email,Unemployed,Num_children,Num_family,Account_length,Total_income,Age,Years_employed,Income_type,Education_type,Family_status,Housing_type,Occupation_type,Target
0,5008804,1,1,1,1,0,0,0,0,2,15,427500.0,32.868574,12.435574,Working,Higher education,Civil marriage,Rented apartment,Other,1
1,5008806,1,1,1,0,0,0,0,0,2,29,112500.0,58.793815,3.104787,Working,Secondary / secondary special,Married,House / apartment,Security staff,0
2,5008808,0,0,1,0,1,1,0,0,1,4,270000.0,52.321403,8.353354,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,Sales staff,0
3,5008812,0,0,1,0,0,0,1,0,1,20,283500.0,61.504343,0.000000,Pensioner,Higher education,Separated,House / apartment,Other,0
4,5008815,1,1,1,1,1,1,0,0,2,5,270000.0,46.193967,2.105450,Working,Higher education,Married,House / apartment,Accountants,0

In [8]:
#Loading the dataset into H2O
data = h2o.H2OFrame(data_path)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [9]:
# description of the dataset
data.describe()

Rows:9709
Cols:20

         ID                  Gender              Own_car              Own_property        Work_phone           Phone                Email                Unemployed          Num_children         Num_family          Account_length      Total_income        Age                 Years_employed      Income_type           Education_type                 Family_status         Housing_type       Occupation_type    Target
-------  ------------------  ------------------  -------------------  ------------------  -------------------  -------------------  -------------------  ------------------  -------------------  ------------------  ------------------  ------------------  ------------------  ------------------  --------------------  -----------------------------  --------------------  -----------------  -----------------  ------------------
type     int                 int                 int                  int                 int                  int                  int                  int                 int                  int                 int                 real                real                real                enum                  enum                           enum                  enum               enum               int
mins     5008804.0           0.0                 0.0                  0.0                 0.0                  0.0                  0.0                  0.0                 0.0                  1.0                 0.0                 27000.0             20.504185575336933  0.0                                                                                                                                  0.0
mean     5076104.679060664   0.3487485837882377  0.36770007209805333  0.671541868369554   0.21742712946750437  0.2876712328767123   0.08754763621382222  0.1746832835513441  0.42280358430322246  2.1826140694201257  27.270058708414904  181228.19456174638  43.784093083598485  5.664730161452851                                                                                                                    0.132145432073334
maxs     5150479.0           1.0                 1.0                  1.0                 1.0                  1.0                  1.0                  1.0                 19.0                 20.0                60.0                1575000.0           68.86383703977495   43.02073280081042                                                                                                                    1.0
sigma    40802.696052772466  0.4765987878099639  0.4822039797226454   0.4696765995682179  0.4125167873991112   0.45270034532244624  0.2826504487639636   0.3797155310732071  0.7670189141552809   0.9329181887062356  16.648056893148983  99277.30509737751   11.625767724979015  6.3422412768887755                                                                                                                   0.3386662517937518
zeros    0                   6323                6139                 3189                7598                 6916                 8859                 8013                6819                 0                   57                  0                   0                   1696                                                                                                                                 8426
missing  0                   0                   0                    0                   0                    0                    0                    0                   0                    0                   0                   0                   0                   0                   0                     0                              0                     0                  0                  0
0        5008804.0           1.0                 1.0                  1.0                 1.0                  0.0                  0.0                  0.0                 0.0                  2.0                 15.0                427500.0            32.86857361889703   12.4355736257418    Working               Higher education               Civil marriage        Rented apartment   Other              1.0
1        5008806.0           1.0                 1.0                  1.0                 0.0                  0.0                  0.0                  0.0                 0.0                  2.0                 29.0                112500.0            58.79381506807121   3.104786545924968   Working               Secondary / secondary special  Married               House / apartment  Security staff     0.0
2        5008808.0           0.0                 0.0                  1.0                 0.0                  1.0                  1.0                  0.0                 0.0                  1.0                 4.0                 270000.0            52.32140290355038   8.353354278321937   Commercial associate  Secondary / secondary special  Single / not married  House / apartment  Sales staff        0.0
3        5008812.0           0.0                 0.0                  1.0                 0.0                  0.0                  0.0                  1.0                 0.0                  1.0                 20.0                283500.0            61.50434300498984   0.0                 Pensioner             Higher education               Separated             House / apartment  Other              0.0
4        5008815.0           1.0                 1.0                  1.0                 1.0                  1.0                  1.0                  0.0                 0.0                  2.0                 5.0                 270000.0            46.1939670219101    2.1054504883741623  Working               Higher education               Married               House / apartment  Accountants        0.0
5        5008819.0           1.0                 1.0                  1.0                 0.0                  0.0                  0.0                  0.0                 0.0                  2.0                 17.0                135000.0            48.67451077024169   3.269060966344278   Commercial associate  Secondary / secondary special  Married               House / apartment  Laborers           0.0
6        5008825.0           0.0                 1.0                  0.0                 0.0                  0.0                  0.0                  0.0                 0.0                  2.0                 25.0                130500.0            29.210729857560388  3.019911428708324   Working               Incomplete higher              Married               House / apartment  Accountants        1.0
7        5008830.0           0.0                 0.0                  1.0                 0.0                  1.0                  0.0                  0.0                 0.0                  2.0                 31.0                157500.0            27.46394518710172   4.021985393266117   Working               Secondary / secondary special  Married               House / apartment  Laborers           1.0
8        5008834.0           0.0                 0.0                  1.0                 0.0                  0.0                  0.0                  0.0                 1.0                  2.0                 44.0                112500.0            30.02936405264995   4.435409351321383   Working               Secondary / secondary special  Single / not married  House / apartment  Other              0.0
9        5008836.0           1.0                 1.0                  1.0                 0.0                  0.0                  0.0                  0.0                 3.0                  5.0                 24.0                270000.0            34.74130201167717   3.1841858491276342  Working               Secondary / secondary special  Married               House / apartment  Laborers           0.0
[9709 rows x 20 columns]

In [10]:
data.types

{'ID': 'int',
 'Gender': 'int',
 'Own_car': 'int',
 'Own_property': 'int',
 'Work_phone': 'int',
 'Phone': 'int',
 'Email': 'int',
 'Unemployed': 'int',
 'Num_children': 'int',
 'Num_family': 'int',
 'Account_length': 'int',
 'Total_income': 'real',
 'Age': 'real',
 'Years_employed': 'real',
 'Income_type': 'enum',
 'Education_type': 'enum',
 'Family_status': 'enum',
 'Housing_type': 'enum',
 'Occupation_type': 'enum',
 'Target': 'int'}

In [11]:
data.head()

         ID    Gender    Own_car    Own_property    Work_phone    Phone    Email    Unemployed    Num_children    Num_family    Account_length    Total_income      Age    Years_employed  Income_type           Education_type                 Family_status         Housing_type       Occupation_type      Target
-----------  --------  ---------  --------------  ------------  -------  -------  ------------  --------------  ------------  ----------------  --------------  -------  ----------------  --------------------  -----------------------------  --------------------  -----------------  -----------------  --------
5.0088e+06          1          1               1             1        0        0             0               0             2                15          427500  32.8686          12.4356   Working               Higher education               Civil marriage        Rented apartment   Other                     1
5.00881e+06         1          1               1             0        0        0             0               0             2                29          112500  58.7938           3.10479  Working               Secondary / secondary special  Married               House / apartment  Security staff            0
5.00881e+06         0          0               1             0        1        1             0               0             1                 4          270000  52.3214           8.35335  Commercial associate  Secondary / secondary special  Single / not married  House / apartment  Sales staff               0
5.00881e+06         0          0               1             0        0        0             1               0             1                20          283500  61.5043           0        Pensioner             Higher education               Separated             House / apartment  Other                     0
5.00882e+06         1          1               1             1        1        1             0               0             2                 5          270000  46.194            2.10545  Working               Higher education               Married               House / apartment  Accountants               0
5.00882e+06         1          1               1             0        0        0             0               0             2                17          135000  48.6745           3.26906  Commercial associate  Secondary / secondary special  Married               House / apartment  Laborers                  0
5.00882e+06         0          1               0             0        0        0             0               0             2                25          130500  29.2107           3.01991  Working               Incomplete higher              Married               House / apartment  Accountants               1
5.00883e+06         0          0               1             0        1        0             0               0             2                31          157500  27.4639           4.02199  Working               Secondary / secondary special  Married               House / apartment  Laborers                  1
5.00883e+06         0          0               1             0        0        0             0               1             2                44          112500  30.0294           4.43541  Working               Secondary / secondary special  Single / not married  House / apartment  Other                     0
5.00884e+06         1          1               1             0        0        0             0               3             5                24          270000  34.7413           3.18419  Working               Secondary / secondary special  Married               House / apartment  Laborers                  0
[10 rows x 20 columns]

##MULTINOMIAL CLASSIFICATION

In [12]:
# Splitting data into train test and validation set 
data_train,data_test,data_valid = data.split_frame(ratios=[.7, .15])

In [13]:
data_train.head()

         ID    Gender    Own_car    Own_property    Work_phone    Phone    Email    Unemployed    Num_children    Num_family    Account_length    Total_income      Age    Years_employed  Income_type           Education_type                 Family_status         Housing_type       Occupation_type      Target
-----------  --------  ---------  --------------  ------------  -------  -------  ------------  --------------  ------------  ----------------  --------------  -------  ----------------  --------------------  -----------------------------  --------------------  -----------------  -----------------  --------
5.0088e+06          1          1               1             1        0        0             0               0             2                15          427500  32.8686          12.4356   Working               Higher education               Civil marriage        Rented apartment   Other                     1
5.00881e+06         1          1               1             0        0        0             0               0             2                29          112500  58.7938           3.10479  Working               Secondary / secondary special  Married               House / apartment  Security staff            0
5.00881e+06         0          0               1             0        0        0             1               0             1                20          283500  61.5043           0        Pensioner             Higher education               Separated             House / apartment  Other                     0
5.00882e+06         1          1               1             1        1        1             0               0             2                 5          270000  46.194            2.10545  Working               Higher education               Married               House / apartment  Accountants               0
5.00882e+06         1          1               1             0        0        0             0               0             2                17          135000  48.6745           3.26906  Commercial associate  Secondary / secondary special  Married               House / apartment  Laborers                  0
5.00882e+06         0          1               0             0        0        0             0               0             2                25          130500  29.2107           3.01991  Working               Incomplete higher              Married               House / apartment  Accountants               1
5.00883e+06         0          0               1             0        0        0             0               1             2                44          112500  30.0294           4.43541  Working               Secondary / secondary special  Single / not married  House / apartment  Other                     0
5.00884e+06         1          1               1             0        0        0             0               3             5                24          270000  34.7413           3.18419  Working               Secondary / secondary special  Married               House / apartment  Laborers                  0
5.00884e+06         1          0               1             0        0        0             0               1             3                39          405000  32.4223           5.51962  Commercial associate  Higher education               Married               House / apartment  Managers                  0
5.00884e+06         1          1               1             0        1        0             0               0             2                43          112500  56.1326          12.1837   Commercial associate  Secondary / secondary special  Married               House / apartment  Drivers                   0
[10 rows x 20 columns]

In [14]:
y = "Income_type"
x = data.columns
x.remove(y)
x

['ID',
 'Gender',
 'Own_car',
 'Own_property',
 'Work_phone',
 'Phone',
 'Email',
 'Unemployed',
 'Num_children',
 'Num_family',
 'Account_length',
 'Total_income',
 'Age',
 'Years_employed',
 'Education_type',
 'Family_status',
 'Housing_type',
 'Occupation_type',
 'Target']

In [15]:
aml = H2OAutoML(max_models = 10, seed = 10, verbosity="info", nfolds=0)

In [16]:
aml.train(x = x, y = y, training_frame = data_train, validation_frame=data_valid)

AutoML progress: |
01:25:56.984: Project: AutoML_1_20221108_12556
01:25:56.988: Cross-validation disabled by user: no fold column nor nfolds > 1.
01:25:56.989: Setting stopping tolerance adaptively based on the training frame: 0.012103663970544886
01:25:56.989: Build control seed: 10
01:25:56.990: training frame: Frame key: AutoML_1_20221108_12556_training_py_3_sid_b8a4    cols: 20    rows: 6826  chunks: 1    size: 232690  checksum: -2171122911107645420
01:25:56.990: validation frame: Frame key: py_5_sid_b8a4    cols: 20    rows: 1388  chunks: 1    size: 53196  checksum: -7138771450889962336
01:25:56.991: leaderboard frame: Frame key: py_5_sid_b8a4    cols: 20    rows: 1388  chunks: 1    size: 53196  checksum: -7138771450889962336
01:25:56.991: blending frame: NULL
01:25:56.995: response column: Income_type
01:25:56.997: fold column: null
01:25:56.997: weights column: null
01:25:57.53: Loading execution steps: [{XGBoost : [def_2 (1g, 10w), def_1 (2g, 10w), def_3 (3g, 10w), grid_1 (4g, 90w), lr_search (7g, 30w)]}, {GLM : [def_1 (1g, 10w)]}, {DRF : [def_1 (2g, 10w), XRT (3g, 10w)]}, {GBM : [def_5 (1g, 10w), def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w), def_1 (3g, 10w), grid_1 (4g, 60w), lr_annealing (7g, 10w)]}, {DeepLearning : [def_1 (3g, 10w), grid_1 (4g, 30w), grid_2 (5g, 30w), grid_3 (5g, 30w)]}, {completion : [resume_best_grids (6g, 60w)]}, {StackedEnsemble : [monotonic (9g, 10w), best_of_family_xglm (10g, 10w), all_xglm (10g, 10w)]}]
01:25:57.122: AutoML job created: 2022.11.08 01:25:56.899
01:25:57.124: AutoML build started: 2022.11.08 01:25:57.123
01:25:57.187: AutoML: starting XGBoost_1_AutoML_1_20221108_12556 model training

██
01:26:07.835: New leader: XGBoost_1_AutoML_1_20221108_12556, mean_per_class_error: 0.5640444214876033
01:26:07.845: AutoML: starting GLM_1_AutoML_1_20221108_12556 model training

██
01:26:30.508: AutoML: starting GBM_1_AutoML_1_20221108_12556 model training
01:26:40.187: AutoML: starting XGBoost_2_AutoML_1_20221108_12556 model training

█
01:26:43.564: AutoML: starting DRF_1_AutoML_1_20221108_12556 model training

██
01:26:52.568: AutoML: starting GBM_2_AutoML_1_20221108_12556 model training


01:26:55.786: AutoML: starting GBM_3_AutoML_1_20221108_12556 model training

█
01:26:59.429: AutoML: starting GBM_4_AutoML_1_20221108_12556 model training

█
01:27:03.432: AutoML: starting XGBoost_3_AutoML_1_20221108_12556 model training

█
01:27:05.922: AutoML: starting XRT_1_AutoML_1_20221108_12556 model training

███
01:27:13.989: No base models, due to timeouts or the exclude_algos option. Skipping StackedEnsemble 'monotonic'.
01:27:13.990: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family_xglm'.
01:27:13.991: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'all_xglm'.
01:27:13.991: Actual modeling steps: [{XGBoost : [def_2 (1g, 10w)]}, {GLM : [def_1 (1g, 10w)]}, {GBM : [def_5 (1g, 10w)]}, {XGBoost : [def_1 (2g, 10w)]}, {DRF : [def_1 (2g, 10w)]}, {GBM : [def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w)]}, {XGBoost : [def_3 (3g, 10w)]}, {DRF : [XRT (3g, 10w)]}]
01:27:13.991: AutoML build stopped: 2022.11.08 01:27:13.991
01:27:13.992: AutoML build done: built 10 models
01:27:13.992: AutoML duration:  1 min 16.868 sec

██████████████████████████████████████████████████| (done) 100%

Model Details
=============
H2OXGBoostEstimator : XGBoost
Model Key: XGBoost_1_AutoML_1_20221108_12556


Model Summary:
    number_of_trees
--  -----------------
    40

ModelMetricsMultinomial: xgboost
** Reported on train data. **

MSE: 0.10283245938655587
RMSE: 0.32067500586505937
LogLoss: 0.34077475078289077
Mean Per-Class Error: 0.33189337158588456
AUC table was not computed: it is either disabled (model parameter 'auc_type' was set to AUTO or NONE) or the domain size exceeds the limit (maximum is 50 domains).
AUCPR table was not computed: it is either disabled (model parameter 'auc_type' was set to AUTO or NONE) or the domain size exceeds the limit (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class
Commercial associate    Pensioner    State servant    Student    Working    Error      Rate
----------------------  -----------  ---------------  ---------  ---------  ---------  -----------
1333                    0            11               0          321        0.199399   332 / 1,665
10                      1199         1                0          3          0.0115416  14 / 1,213
46                      0            278              0          171        0.438384   217 / 495
0                       0            1                0          1          1          2 / 2
32                      0            3                0          3416       0.010142   35 / 3,451
1421                    1199         294              0          3912       0.0878992  600 / 6,826

Top-5 Hit Ratios:
k    hit_ratio
---  -----------
1    0.912101
2    0.983006
3    0.998535
4    0.999707
5    1

ModelMetricsMultinomial: xgboost
** Reported on validation data. **

MSE: 0.2554074854619556
RMSE: 0.5053785565909534
LogLoss: 0.758581398878846
Mean Per-Class Error: 0.5640444214876033
AUC table was not computed: it is either disabled (model parameter 'auc_type' was set to AUTO or NONE) or the domain size exceeds the limit (maximum is 50 domains).
AUCPR table was not computed: it is either disabled (model parameter 'auc_type' was set to AUTO or NONE) or the domain size exceeds the limit (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class
Commercial associate    Pensioner    State servant    Student    Working    Error       Rate
----------------------  -----------  ---------------  ---------  ---------  ----------  -----------
91                      0            8                0          221        0.715625    229 / 320
1                       240          0                0          1          0.00826446  2 / 242
19                      0            10               0          92         0.917355    111 / 121
1                       0            0                0          0          1           1 / 1
111                     0            15               0          578        0.178977    126 / 704
223                     240          33               0          892        0.337896    469 / 1,388

Top-5 Hit Ratios:
k    hit_ratio
---  -----------
1    0.662104
2    0.914986
3    0.997118
4    0.99928
5    1

Scoring History:
    timestamp            duration    number_of_trees    training_rmse    training_logloss    training_classification_error    training_auc    training_pr_auc    validation_rmse    validation_logloss    validation_classification_error    validation_auc    validation_pr_auc
--  -------------------  ----------  -----------------  ---------------  ------------------  -------------------------------  --------------  -----------------  -----------------  --------------------  ---------------------------------  ----------------  -------------------
    2022-11-08 01:25:57  0.644 sec   0                  0.8              1.60944             0.494433                         nan             nan                0.8                1.60944               0.492795                           nan               nan
    2022-11-08 01:25:59  2.281 sec   5                  0.543705         0.804596            0.271316                         nan             nan                0.573326           0.888076              0.314121                           nan               nan
    2022-11-08 01:26:00  3.416 sec   10                 0.465602         0.618621            0.239965                         nan             nan                0.521536           0.76379               0.323487                           nan               nan
    2022-11-08 01:26:01  4.498 sec   15                 0.423549         0.52666             0.195576                         nan             nan                0.506679           0.731193              0.32853                            nan               nan
    2022-11-08 01:26:02  5.529 sec   20                 0.394423         0.468965            0.172429                         nan             nan                0.502318           0.72622               0.324207                           nan               nan
    2022-11-08 01:26:03  6.758 sec   25                 0.372257         0.428012            0.147231                         nan             nan                0.504008           0.736902              0.332853                           nan               nan
    2022-11-08 01:26:04  7.756 sec   30                 0.352456         0.392832            0.123791                         nan             nan                0.503774           0.741553              0.34438                            nan               nan
    2022-11-08 01:26:05  8.659 sec   35                 0.335667         0.364988            0.105333                         nan             nan                0.503727           0.748864              0.334294                           nan               nan
    2022-11-08 01:26:06  9.531 sec   40                 0.320675         0.340775            0.0878992                        nan             nan                0.505379           0.758581              0.337896                           nan               nan

Variable Importances:
variable                               relative_importance    scaled_importance       percentage
-------------------------------------  ---------------------  ----------------------  ----------------------
Years_employed                         4914.88916015625       1.0                     0.27811606592597793
Unemployed                             3747.5771484375        0.7624947432829513      0.2120620382910929
ID                                     1905.53271484375       0.3877061420410895      0.1078273069598062
Age                                    1856.452880859375      0.37772019273784724     0.10505005402505223
Account_length                         1340.775634765625      0.2727987531509256      0.07586971601584741
Total_income                           1125.052734375         0.2289070409757182      0.06366272569892338
Occupation_type.Core staff             254.1338653564453      0.05170693724217498     0.014380529966875142
Num_children                           199.0765380859375      0.040504786903395526    0.011265031984742439
Own_property                           198.95260620117188     0.040479571302244166    0.011258019120950265
Occupation_type.Other                  189.56101989746094     0.03856872733452133     0.010726582714048801
---                                    ---                    ---                     ---
Occupation_type.Cooking staff          8.39788818359375       0.001708662781588908    0.0004752065708096456
Occupation_type.Cleaning staff         8.264204978942871      0.0016814631438565632   0.00046764191456891407
Housing_type.Rented apartment          6.869123458862305      0.001397615131292997    0.00038869922199382745
Housing_type.Office apartment          6.555869102478027      0.001333879338648119    0.0003709732740847601
Occupation_type.Security staff         5.309417724609375      0.0010802721183727738   0.0003004410316913582
Education_type.Incomplete higher       5.250530242919922      0.0010682906718394848   0.00029710879891741744
Family_status.Widow                    4.801571846008301      0.0009769440753483144   0.00027170384286556536
Education_type.Lower secondary         4.760011196136475      0.0009684880047193472   0.0002693520737690448
Occupation_type.Private service staff  2.110952138900757      0.0004295014740136372   0.00011945126026208144
Occupation_type.Secretaries            0.8701529502868652     0.00017704426731348752  4.9238855119974354e-05
[43 rows x 4 columns]


[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [17]:
lb = aml.leaderboard

In [18]:
lb.head()

model_id                             mean_per_class_error    logloss      rmse       mse
---------------------------------  ----------------------  ---------  --------  --------
XGBoost_1_AutoML_1_20221108_12556                0.564044   0.758581  0.505379  0.255407
GBM_2_AutoML_1_20221108_12556                    0.567955   0.727453  0.499127  0.249128
XGBoost_2_AutoML_1_20221108_12556                0.572562   0.752089  0.50543   0.25546
DRF_1_AutoML_1_20221108_12556                    0.573321   0.869104  0.498458  0.248461
GBM_1_AutoML_1_20221108_12556                    0.574969   0.707133  0.494705  0.244733
GBM_3_AutoML_1_20221108_12556                    0.576451   0.729864  0.499304  0.249305
XGBoost_3_AutoML_1_20221108_12556                0.577247   0.721598  0.499392  0.249392
GBM_4_AutoML_1_20221108_12556                    0.579514   0.747299  0.50272   0.252727
GLM_1_AutoML_1_20221108_12556                    0.581178   0.697024  0.493499  0.243541
XRT_1_AutoML_1_20221108_12556                    0.593017   0.898696  0.571117  0.326174
[10 rows x 5 columns]

In [48]:
# finding and storing the best model
best_model = h2o.get_model(aml.leaderboard[8,'model_id'])

In [49]:
# printing the best model
best_model.algo

'glm'

In [19]:
data_pred=aml.leader.predict(data_test)

xgboost prediction progress: |███████████████████████████████████████████████████| (done) 100%

In [20]:
data_pred.head()

predict                 Commercial associate    Pensioner    State servant      Student    Working
--------------------  ----------------------  -----------  ---------------  -----------  ---------
Working                            0.133264   0.00168862         0.335141   0.000758007   0.529149
Working                            0.185471   0.00135208         0.0173504  0.00112729    0.794699
Working                            0.152218   0.00186893         0.0172813  0.000743468   0.827888
Working                            0.221623   0.00526579         0.304969   0.00132303    0.466819
Working                            0.115255   0.00328182         0.0359004  0.00129779    0.844265
State servant                      0.0747061  0.00114836         0.57907    0.000859592   0.344216
Commercial associate               0.463777   0.00557823         0.308203   0.00131319    0.221129
Working                            0.423059   0.0192118          0.0465733  0.000697778   0.510458
Working                            0.15333    0.00173453         0.101951   0.000736172   0.742248
Working                            0.113703   0.000906886        0.0666955  0.000675844   0.818019
[10 rows x 6 columns]

In [21]:
aml.leader.model_performance(data_test)

ModelMetricsMultinomial: xgboost
** Reported on test data. **

MSE: 0.24585601901703508
RMSE: 0.4958387026211599
LogLoss: 0.7197876721807833
Mean Per-Class Error: 0.3774286911293482
AUC table was not computed: it is either disabled (model parameter 'auc_type' was set to AUTO or NONE) or the domain size exceeds the limit (maximum is 50 domains).
AUCPR table was not computed: it is either disabled (model parameter 'auc_type' was set to AUTO or NONE) or the domain size exceeds the limit (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class
Commercial associate    Pensioner    State servant    Student    Working    Error     Rate
----------------------  -----------  ---------------  ---------  ---------  --------  -----------
76                      0            8                0          243        0.767584  251 / 327
0                       257          0                0          0          0         0 / 257
19                      0            8                0          79         0.924528  98 / 106
0                       0            0                0          0          nan       0 / 0
140                     0            17               0          648        0.195031  157 / 805
235                     257          33               0          970        0.338462  506 / 1,495

Top-5 Hit Ratios:
k    hit_ratio
---  -----------
1    0.661539
2    0.934448
3    0.999331
4    1
5    1

##BINARY CLASSIFICATION

In [22]:
data1 = h2o.H2OFrame(df_copy)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [23]:
data1.describe()

Rows:9709
Cols:20

         ID                  Gender              Own_car              Own_property        Work_phone           Phone                Email                Unemployed          Num_children         Num_family          Account_length      Total_income        Age                 Years_employed      Income_type           Education_type                 Family_status         Housing_type       Occupation_type    Target
-------  ------------------  ------------------  -------------------  ------------------  -------------------  -------------------  -------------------  ------------------  -------------------  ------------------  ------------------  ------------------  ------------------  ------------------  --------------------  -----------------------------  --------------------  -----------------  -----------------  --------
type     int                 int                 int                  int                 int                  int                  int                  int                 int                  int                 int                 real                real                real                enum                  enum                           enum                  enum               enum               enum
mins     5008804.0           0.0                 0.0                  0.0                 0.0                  0.0                  0.0                  0.0                 0.0                  1.0                 0.0                 27000.0             20.504185575336933  0.0
mean     5076104.679060664   0.3487485837882377  0.36770007209805333  0.671541868369554   0.21742712946750437  0.2876712328767123   0.08754763621382222  0.1746832835513441  0.42280358430322246  2.1826140694201257  27.270058708414904  181228.19456174638  43.784093083598485  5.664730161452851
maxs     5150479.0           1.0                 1.0                  1.0                 1.0                  1.0                  1.0                  1.0                 19.0                 20.0                60.0                1575000.0           68.86383703977495   43.02073280081042
sigma    40802.696052772466  0.4765987878099639  0.4822039797226454   0.4696765995682179  0.4125167873991112   0.45270034532244624  0.2826504487639636   0.3797155310732071  0.7670189141552809   0.9329181887062356  16.648056893148983  99277.30509737751   11.625767724979015  6.3422412768887755
zeros    0                   6323                6139                 3189                7598                 6916                 8859                 8013                6819                 0                   57                  0                   0                   1696
missing  0                   0                   0                    0                   0                    0                    0                    0                   0                    0                   0                   0                   0                   0                   0                     0                              0                     0                  0                  0
0        5008804.0           1.0                 1.0                  1.0                 1.0                  0.0                  0.0                  0.0                 0.0                  2.0                 15.0                427500.0            32.86857361889703   12.4355736257418    Working               Higher education               Civil marriage        Rented apartment   Other              Y
1        5008806.0           1.0                 1.0                  1.0                 0.0                  0.0                  0.0                  0.0                 0.0                  2.0                 29.0                112500.0            58.79381506807121   3.104786545924968   Working               Secondary / secondary special  Married               House / apartment  Security staff     N
2        5008808.0           0.0                 0.0                  1.0                 0.0                  1.0                  1.0                  0.0                 0.0                  1.0                 4.0                 270000.0            52.32140290355038   8.353354278321937   Commercial associate  Secondary / secondary special  Single / not married  House / apartment  Sales staff        N
3        5008812.0           0.0                 0.0                  1.0                 0.0                  0.0                  0.0                  1.0                 0.0                  1.0                 20.0                283500.0            61.50434300498984   0.0                 Pensioner             Higher education               Separated             House / apartment  Other              N
4        5008815.0           1.0                 1.0                  1.0                 1.0                  1.0                  1.0                  0.0                 0.0                  2.0                 5.0                 270000.0            46.1939670219101    2.1054504883741623  Working               Higher education               Married               House / apartment  Accountants        N
5        5008819.0           1.0                 1.0                  1.0                 0.0                  0.0                  0.0                  0.0                 0.0                  2.0                 17.0                135000.0            48.67451077024169   3.269060966344278   Commercial associate  Secondary / secondary special  Married               House / apartment  Laborers           N
6        5008825.0           0.0                 1.0                  0.0                 0.0                  0.0                  0.0                  0.0                 0.0                  2.0                 25.0                130500.0            29.210729857560388  3.019911428708324   Working               Incomplete higher              Married               House / apartment  Accountants        Y
7        5008830.0           0.0                 0.0                  1.0                 0.0                  1.0                  0.0                  0.0                 0.0                  2.0                 31.0                157500.0            27.46394518710172   4.021985393266117   Working               Secondary / secondary special  Married               House / apartment  Laborers           Y
8        5008834.0           0.0                 0.0                  1.0                 0.0                  0.0                  0.0                  0.0                 1.0                  2.0                 44.0                112500.0            30.02936405264995   4.435409351321383   Working               Secondary / secondary special  Single / not married  House / apartment  Other              N
9        5008836.0           1.0                 1.0                  1.0                 0.0                  0.0                  0.0                  0.0                 3.0                  5.0                 24.0                270000.0            34.74130201167717   3.1841858491276342  Working               Secondary / secondary special  Married               House / apartment  Laborers           N
[9709 rows x 20 columns]

In [24]:
# Splitting data into train test and validation set 
data_train1,data_test1,data_valid1 = data1.split_frame(ratios=[.7, .15])

In [25]:
data_train1.head()

         ID    Gender    Own_car    Own_property    Work_phone    Phone    Email    Unemployed    Num_children    Num_family    Account_length    Total_income      Age    Years_employed  Income_type           Education_type                 Family_status         Housing_type       Occupation_type    Target
-----------  --------  ---------  --------------  ------------  -------  -------  ------------  --------------  ------------  ----------------  --------------  -------  ----------------  --------------------  -----------------------------  --------------------  -----------------  -----------------  --------
5.0088e+06          1          1               1             1        0        0             0               0             2                15          427500  32.8686          12.4356   Working               Higher education               Civil marriage        Rented apartment   Other              Y
5.00881e+06         0          0               1             0        1        1             0               0             1                 4          270000  52.3214           8.35335  Commercial associate  Secondary / secondary special  Single / not married  House / apartment  Sales staff        N
5.00881e+06         0          0               1             0        0        0             1               0             1                20          283500  61.5043           0        Pensioner             Higher education               Separated             House / apartment  Other              N
5.00882e+06         1          1               1             1        1        1             0               0             2                 5          270000  46.194            2.10545  Working               Higher education               Married               House / apartment  Accountants        N
5.00882e+06         0          1               0             0        0        0             0               0             2                25          130500  29.2107           3.01991  Working               Incomplete higher              Married               House / apartment  Accountants        Y
5.00883e+06         0          0               1             0        0        0             0               1             2                44          112500  30.0294           4.43541  Working               Secondary / secondary special  Single / not married  House / apartment  Other              N
5.00884e+06         1          1               1             0        0        0             0               3             5                24          270000  34.7413           3.18419  Working               Secondary / secondary special  Married               House / apartment  Laborers           N
5.00884e+06         1          0               1             0        0        0             0               1             3                39          405000  32.4223           5.51962  Commercial associate  Higher education               Married               House / apartment  Managers           N
5.00884e+06         1          1               1             0        1        0             0               0             2                43          112500  56.1326          12.1837   Commercial associate  Secondary / secondary special  Married               House / apartment  Drivers            N
5.00887e+06         0          0               1             0        0        0             0               1             3                24          211500  44.3869          19.4364   State servant         Secondary / secondary special  Civil marriage        House / apartment  Core staff         N
[10 rows x 20 columns]

In [26]:
y1 = "Target"
x1 = data1.columns
x1.remove(y1)
x1

['ID',
 'Gender',
 'Own_car',
 'Own_property',
 'Work_phone',
 'Phone',
 'Email',
 'Unemployed',
 'Num_children',
 'Num_family',
 'Account_length',
 'Total_income',
 'Age',
 'Years_employed',
 'Income_type',
 'Education_type',
 'Family_status',
 'Housing_type',
 'Occupation_type']

In [27]:
aml1 = H2OAutoML(max_models = 10, seed = 10, verbosity="info", nfolds=0)

In [28]:
aml1.train(x = x1, y = y1, training_frame = data_train1, validation_frame=data_valid1)

AutoML progress: |
01:27:18.760: Project: AutoML_2_20221108_12718
01:27:18.760: Cross-validation disabled by user: no fold column nor nfolds > 1.
01:27:18.761: Setting stopping tolerance adaptively based on the training frame: 0.012133920952907253
01:27:18.761: Build control seed: 10
01:27:18.761: training frame: Frame key: AutoML_2_20221108_12718_training_py_12_sid_b8a4    cols: 20    rows: 6792  chunks: 1    size: 232145  checksum: 6118467675611229324
01:27:18.761: validation frame: Frame key: py_14_sid_b8a4    cols: 20    rows: 1468  chunks: 1    size: 56362  checksum: -3625328837734852563
01:27:18.761: leaderboard frame: Frame key: py_14_sid_b8a4    cols: 20    rows: 1468  chunks: 1    size: 56362  checksum: -3625328837734852563
01:27:18.761: blending frame: NULL
01:27:18.761: response column: Target
01:27:18.761: fold column: null
01:27:18.761: weights column: null
01:27:18.762: Loading execution steps: [{XGBoost : [def_2 (1g, 10w), def_1 (2g, 10w), def_3 (3g, 10w), grid_1 (4g, 90w), lr_search (7g, 30w)]}, {GLM : [def_1 (1g, 10w)]}, {DRF : [def_1 (2g, 10w), XRT (3g, 10w)]}, {GBM : [def_5 (1g, 10w), def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w), def_1 (3g, 10w), grid_1 (4g, 60w), lr_annealing (7g, 10w)]}, {DeepLearning : [def_1 (3g, 10w), grid_1 (4g, 30w), grid_2 (5g, 30w), grid_3 (5g, 30w)]}, {completion : [resume_best_grids (6g, 60w)]}, {StackedEnsemble : [monotonic (9g, 10w), best_of_family_xglm (10g, 10w), all_xglm (10g, 10w)]}]
01:27:18.763: AutoML job created: 2022.11.08 01:27:18.760
01:27:18.764: AutoML build started: 2022.11.08 01:27:18.763
01:27:18.766: AutoML: starting XGBoost_1_AutoML_2_20221108_12718 model training


01:27:20.450: New leader: XGBoost_1_AutoML_2_20221108_12718, auc: 0.5614256700961904
01:27:20.452: AutoML: starting GLM_1_AutoML_2_20221108_12718 model training

█
01:27:21.911: New leader: GLM_1_AutoML_2_20221108_12718, auc: 0.5663222264378334
01:27:21.912: AutoML: starting GBM_1_AutoML_2_20221108_12718 model training

██
01:27:23.428: New leader: GBM_1_AutoML_2_20221108_12718, auc: 0.5756511259401432
01:27:23.430: AutoML: starting XGBoost_2_AutoML_2_20221108_12718 model training
01:27:24.768: AutoML: starting DRF_1_AutoML_2_20221108_12718 model training

███
01:27:28.477: AutoML: starting GBM_2_AutoML_2_20221108_12718 model training

█
01:27:29.516: AutoML: starting GBM_3_AutoML_2_20221108_12718 model training

█
01:27:30.547: AutoML: starting GBM_4_AutoML_2_20221108_12718 model training

█
01:27:31.668: AutoML: starting XGBoost_3_AutoML_2_20221108_12718 model training
01:27:32.663: AutoML: starting XRT_1_AutoML_2_20221108_12718 model training

██████████████████████████████████████████████████████| (done) 100%

01:27:36.143: No base models, due to timeouts or the exclude_algos option. Skipping StackedEnsemble 'monotonic'.
01:27:36.143: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family_xglm'.
01:27:36.144: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'all_xglm'.
01:27:36.144: Actual modeling steps: [{XGBoost : [def_2 (1g, 10w)]}, {GLM : [def_1 (1g, 10w)]}, {GBM : [def_5 (1g, 10w)]}, {XGBoost : [def_1 (2g, 10w)]}, {DRF : [def_1 (2g, 10w)]}, {GBM : [def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w)]}, {XGBoost : [def_3 (3g, 10w)]}, {DRF : [XRT (3g, 10w)]}]
01:27:36.144: AutoML build stopped: 2022.11.08 01:27:36.144
01:27:36.144: AutoML build done: built 10 models
01:27:36.144: AutoML duration: 17.381 sec

Model Details
=============
H2OGradientBoostingEstimator : Gradient Boosting Machine
Model Key: GBM_1_AutoML_2_20221108_12718


Model Summary:
    number_of_trees    number_of_internal_trees    model_size_in_bytes    min_depth    max_depth    mean_depth    min_leaves    max_leaves    mean_leaves
--  -----------------  --------------------------  ---------------------  -----------  -----------  ------------  ------------  ------------  -------------
    30                 30                          17157                  9            15           12.0667       36            43            40.6667

ModelMetricsBinomial: gbm
** Reported on train data. **

MSE: 0.09992722113153554
RMSE: 0.31611267157697986
LogLoss: 0.33244050654039475
Mean Per-Class Error: 0.2790978717973022
AUC: 0.843634865472851
AUCPR: 0.5028490537660107
Gini: 0.6872697309457021

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.19504256966250394
       N     Y     Error    Rate
-----  ----  ----  -------  --------------
N      5346  541   0.0919   (541.0/5887.0)
Y      422   483   0.4663   (422.0/905.0)
Total  5768  1024  0.1418   (963.0/6792.0)

Maximum Metrics: Maximum metrics at their respective thresholds
metric                       threshold    value     idx
---------------------------  -----------  --------  -----
max f1                       0.195043     0.500778  130
max f2                       0.14803      0.610301  200
max f0point5                 0.219492     0.518605  101
max accuracy                 0.256788     0.88192   66
max precision                0.437754     1         0
max recall                   0.0599162    1         356
max specificity              0.437754     1         0
max absolute_mcc             0.20453      0.420262  119
max min_per_class_accuracy   0.155835     0.758281  187
max mean_per_class_accuracy  0.14803      0.76441   200
max tns                      0.437754     5887      0
max fns                      0.437754     904       0
max fps                      0.0214292    5887      399
max tps                      0.0599162    905       356
max tnr                      0.437754     1         0
max fnr                      0.437754     0.998895  0
max fpr                      0.0214292    1         399
max tpr                      0.0599162    1         356

Gains/Lift Table: Avg response rate: 13.32 %, avg score: 13.36 %
group    cumulative_data_fraction    lower_threshold    lift       cumulative_lift    response_rate    score      cumulative_response_rate    cumulative_score    capture_rate    cumulative_capture_rate    gain      cumulative_gain    kolmogorov_smirnov
-------  --------------------------  -----------------  ---------  -----------------  ---------------  ---------  --------------------------  ------------------  --------------  -------------------------  --------  -----------------  --------------------
1        0.0100118                   0.318605           6.4013     6.4013             0.852941         0.349066   0.852941                    0.349066            0.0640884       0.0640884                  540.13    540.13             0.0623897
2        0.0200236                   0.291213           5.40799    5.90465            0.720588         0.303719   0.786765                    0.326393            0.0541436       0.118232                   440.799   490.465            0.113306
3        0.0300353                   0.271822           4.52506    5.44478            0.602941         0.281221   0.72549                     0.311335            0.0453039       0.163536                   352.506   444.478            0.154023
4        0.0400471                   0.256868           4.19396    5.13208            0.558824         0.26403    0.683824                    0.299509            0.041989        0.205525                   319.396   413.208            0.190916
5        0.0500589                   0.247375           3.53175    4.81201            0.470588         0.251939   0.641176                    0.289995            0.0353591       0.240884                   253.175   381.201            0.22016
6        0.100118                    0.215304           3.39931    4.10566            0.452941         0.229924   0.547059                    0.25996             0.170166        0.41105                    239.931   310.566            0.358731
7        0.150029                    0.194866           2.39096    3.53522            0.318584         0.204628   0.47105                     0.241552            0.119337        0.530387                   139.096   253.522            0.438829
8        0.200088                    0.180858           1.72173    3.08151            0.229412         0.187457   0.410596                    0.228018            0.0861878       0.616575                   72.1729   208.151            0.480512
9        0.300059                    0.157497           1.33741    2.50043            0.178203         0.168635   0.33317                     0.208234            0.133702        0.750276                   33.741    150.043            0.519429
10       0.400029                    0.13989            0.983715   2.12139            0.131075         0.148605   0.282665                    0.193332            0.0983425       0.848619                   -1.62849  112.139            0.51755
11       0.5                         0.12379            0.475278   1.79227            0.0633284        0.131807   0.23881                     0.181031            0.0475138       0.896133                   -52.4722  79.2265            0.457029
12       0.599971                    0.110171           0.464225   1.57098            0.0618557        0.117211   0.209325                    0.170397            0.0464088       0.942541                   -53.5775  57.0979            0.395234
13       0.699941                    0.0961124          0.331589   1.39396            0.0441826        0.102733   0.185738                    0.160732            0.0331492       0.975691                   -66.8411  39.3961            0.31814
14       0.799912                    0.0818515          0.132636   1.23632            0.017673         0.0891902  0.164734                    0.151791            0.0132597       0.98895                    -86.7364  23.6324            0.218099
15       0.899882                    0.0648545          0.0994768  1.11003            0.0132548        0.0740249  0.147906                    0.143152            0.00994475      0.998895                   -90.0523  11.0029            0.114234
16       1                           0.0206854          0.0110367  1                  0.00147059       0.0474225  0.133245                    0.133568            0.00110497      1                          -98.8963  0                  0

ModelMetricsBinomial: gbm
** Reported on validation data. **

MSE: 0.10459815739640717
RMSE: 0.3234163839331693
LogLoss: 0.3628433086385875
Mean Per-Class Error: 0.41953266230722874
AUC: 0.5756511259401432
AUCPR: 0.1417086987616175
Gini: 0.15130225188028645

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.1270673408812339
       N    Y    Error    Rate
-----  ---  ---  -------  --------------
N      680  615  0.4749   (615.0/1295.0)
Y      63   110  0.3642   (63.0/173.0)
Total  743  725  0.4619   (678.0/1468.0)

Maximum Metrics: Maximum metrics at their respective thresholds
metric                       threshold    value     idx
---------------------------  -----------  --------  -----
max f1                       0.127067     0.244989  225
max f2                       0.0494892    0.413678  369
max f0point5                 0.167119     0.183541  147
max accuracy                 0.344193     0.882153  1
max precision                0.344193     0.5       1
max recall                   0.0494892    1         369
max specificity              0.353396     0.999228  0
max absolute_mcc             0.127067     0.103787  225
max min_per_class_accuracy   0.133544     0.567568  212
max mean_per_class_accuracy  0.127067     0.580467  225
max tns                      0.353396     1294      0
max fns                      0.353396     173       0
max fps                      0.0211042    1295      399
max tps                      0.0494892    173       369
max tnr                      0.353396     0.999228  0
max fnr                      0.353396     1         0
max fpr                      0.0211042    1         399
max tpr                      0.0494892    1         369

Gains/Lift Table: Avg response rate: 11.78 %, avg score: 13.36 %
group    cumulative_data_fraction    lower_threshold    lift      cumulative_lift    response_rate    score      cumulative_response_rate    cumulative_score    capture_rate    cumulative_capture_rate    gain      cumulative_gain    kolmogorov_smirnov
-------  --------------------------  -----------------  --------  -----------------  ---------------  ---------  --------------------------  ------------------  --------------  -------------------------  --------  -----------------  --------------------
1        0.010218                    0.291335           1.69711   1.69711            0.2              0.315392   0.2                         0.315392            0.017341        0.017341                   69.711    69.711             0.00807463
2        0.020436                    0.269417           0         0.848555           0                0.279546   0.1                         0.297469            0               0.017341                   -100      -15.1445           -0.00350838
3        0.030654                    0.258053           1.69711   1.13141            0.2              0.264591   0.133333                    0.28651             0.017341        0.0346821                  69.711    13.1407            0.00456625
4        0.0401907                   0.244889           1.81833   1.29441            0.214286         0.250982   0.152542                    0.278079            0.017341        0.0520231                  81.8332   29.4406            0.0134131
5        0.0504087                   0.234781           0.565703  1.1467             0.0666667        0.240016   0.135135                    0.270364            0.00578035      0.0578035                  -43.4297  14.6696            0.00838262
6        0.100136                    0.212226           0.813683  0.981322           0.0958904        0.223238   0.115646                    0.246961            0.0404624       0.0982659                  -18.6317  -1.8678            -0.0021202
7        0.150545                    0.194928           1.37603   1.11349            0.162162         0.202614   0.131222                    0.232112            0.0693642       0.16763                    37.6035   11.3488            0.0193675
8        0.200272                    0.182319           1.85985   1.29881            0.219178         0.188305   0.153061                    0.221235            0.0924855       0.260116                   85.9846   29.8809            0.0678376
9        0.300409                    0.158317           1.44312   1.34691            0.170068         0.169781   0.15873                     0.204084            0.144509        0.404624                   44.3121   34.6913            0.118138
10       0.399864                    0.139965           1.04616   1.27211            0.123288         0.148481   0.149915                    0.190254            0.104046        0.508671                   4.61636   27.211             0.123342
11       0.5                         0.126151           1.26995   1.27168            0.14966          0.132935   0.149864                    0.178775            0.127168        0.635838                   26.9946   27.1676            0.153985
12       0.600136                    0.11221            0.750423  1.1847             0.0884354        0.118783   0.139614                    0.168765            0.0751445       0.710983                   -24.9577  18.4702            0.125654
13       0.699591                    0.0995174          0.639322  1.10717            0.0753425        0.10643    0.130477                    0.159903            0.0635838       0.774566                   -36.0678  10.717             0.0849912
14       0.799728                    0.0840038          0.634973  1.04804            0.0748299        0.0919693  0.123509                    0.151397            0.0635838       0.83815                    -36.5027  4.80448            0.0435557
15       0.899864                    0.0672123          0.981322  1.04062            0.115646         0.076505   0.122634                    0.143063            0.0982659       0.936416                   -1.8678   4.062              0.0414355
16       1                           0.0211042          0.634973  1                  0.0748299        0.048571   0.117847                    0.133601            0.0635838       1                          -36.5027  0                  0

Scoring History:
    timestamp            duration    number_of_trees    training_rmse    training_logloss    training_auc    training_pr_auc    training_lift    training_classification_error    validation_rmse    validation_logloss    validation_auc    validation_pr_auc    validation_lift    validation_classification_error
--  -------------------  ----------  -----------------  ---------------  ------------------  --------------  -----------------  ---------------  -------------------------------  -----------------  --------------------  ----------------  -------------------  -----------------  ---------------------------------
    2022-11-08 01:27:21  0.050 sec   0                  0.339839         0.392509            0.5             0.133245           1                0.866755                         0.322795           0.363676              0.5               0.117847             1                  0.882153
    2022-11-08 01:27:22  0.291 sec   5                  0.334608         0.37763             0.729165        0.291796           4.08359          0.238369                         0.322299           0.361961              0.553068          0.134757             2.26281            0.595368
    2022-11-08 01:27:22  0.575 sec   10                 0.330018         0.365273            0.765631        0.3439             4.41469          0.233363                         0.322548           0.361707              0.561883          0.131123             1.13141            0.436649
    2022-11-08 01:27:22  0.818 sec   15                 0.32638          0.356131            0.795381        0.385159           5.07689          0.187574                         0.323023           0.362297              0.565166          0.131131             1.13141            0.405995
    2022-11-08 01:27:22  1.036 sec   20                 0.322695         0.347391            0.814735        0.430901           5.84946          0.175648                         0.322852           0.361547              0.574029          0.138561             2.26281            0.35218
    2022-11-08 01:27:23  1.258 sec   25                 0.319556         0.340006            0.829156        0.468107           6.18057          0.155919                         0.322691           0.361252              0.578394          0.144681             1.69711            0.458447
    2022-11-08 01:27:23  1.463 sec   30                 0.316113         0.332441            0.843635        0.502849           6.4013           0.141784                         0.323416           0.362843              0.575651          0.141709             1.69711            0.461853

Variable Importances:
variable         relative_importance    scaled_importance    percentage
---------------  ---------------------  -------------------  ------------
Occupation_type  114.102                1                    0.220155
Account_length   94.6366                0.8294               0.182597
Age              66.0431                0.578805             0.127427
ID               52.2448                0.457876             0.100804
Years_employed   46.5121                0.407635             0.0897429
Total_income     39.2144                0.343677             0.0756622
Income_type      20.5166                0.179808             0.0395857
Family_status    14.7538                0.129303             0.0284667
Num_family       13.6711                0.119814             0.0263776
Own_property     10.566                 0.0926012            0.0203866
Education_type   9.57594                0.083924             0.0184763
Own_car          9.20739                0.080694             0.0177652
Gender           6.92667                0.0607057            0.0133647
Housing_type     5.61637                0.0492222            0.0108365
Num_children     5.46877                0.0479286            0.0105517
Phone            5.44423                0.0477135            0.0105044
Work_phone       2.07287                0.0181667            0.00399949
Unemployed       1.22451                0.0107317            0.00236263
Email            0.484524               0.00424639           0.000934866

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [29]:
lb1 = aml1.leaderboard

In [30]:
lb1.head()

model_id                                auc    logloss     aucpr    mean_per_class_error      rmse       mse
---------------------------------  --------  ---------  --------  ----------------------  --------  --------
GBM_1_AutoML_2_20221108_12718      0.575651   0.362843  0.141709                0.419533  0.323416  0.104598
XGBoost_2_AutoML_2_20221108_12718  0.573192   0.384739  0.136138                0.435552  0.333789  0.111415
GLM_1_AutoML_2_20221108_12718      0.566322   0.357181  0.172085                0.431988  0.319706  0.102212
XGBoost_1_AutoML_2_20221108_12718  0.561426   0.38214   0.134232                0.441308  0.331666  0.110002
GBM_4_AutoML_2_20221108_12718      0.558676   0.372962  0.13587                 0.444033  0.327673  0.107369
XGBoost_3_AutoML_2_20221108_12718  0.55823    0.371555  0.140994                0.446339  0.326549  0.106634
XRT_1_AutoML_2_20221108_12718      0.556107   0.370918  0.135206                0.445138  0.327106  0.106998
GBM_2_AutoML_2_20221108_12718      0.551668   0.368164  0.132769                0.43928   0.325581  0.106003
DRF_1_AutoML_2_20221108_12718      0.550075   0.377588  0.144262                0.469784  0.329265  0.108415
GBM_3_AutoML_2_20221108_12718      0.543288   0.371096  0.126957                0.452583  0.326745  0.106762
[10 rows x 7 columns]

In [53]:
# finding and storing the best model
best_model1 = h2o.get_model(aml1.leaderboard[2,'model_id'])

In [54]:
# printing the best model
best_model1.algo

'glm'

In [31]:
data_pred1=aml1.leader.predict(data_test1)

gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

In [32]:
data_pred1.head()

predict           N          Y
---------  --------  ---------
Y          0.768759  0.231241
Y          0.855301  0.144699
Y          0.785175  0.214825
Y          0.861151  0.138849
Y          0.866732  0.133268
N          0.92567   0.07433
Y          0.736602  0.263398
N          0.947114  0.052886
N          0.900045  0.0999554
Y          0.859703  0.140297
[10 rows x 3 columns]

In [34]:
aml1.leader.model_performance(data_test1)

ModelMetricsBinomial: gbm
** Reported on test data. **

MSE: 0.12238083845173382
RMSE: 0.34982972779873045
LogLoss: 0.4099628549611307
Mean Per-Class Error: 0.4408183671868873
AUC: 0.5592737824484354
AUCPR: 0.15611151154793834
Gini: 0.1185475648968708

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.11186070340749044
       N    Y    Error    Rate
-----  ---  ---  -------  --------------
N      481  763  0.6133   (763.0/1244.0)
Y      55   150  0.2683   (55.0/205.0)
Total  536  913  0.5645   (818.0/1449.0)

Maximum Metrics: Maximum metrics at their respective thresholds
metric                       threshold    value      idx
---------------------------  -----------  ---------  -----
max f1                       0.111861     0.268336   258
max f2                       0.0502217    0.461747   370
max f0point5                 0.157224     0.19807    166
max accuracy                 0.341367     0.857833   0
max precision                0.179483     0.18123    130
max recall                   0.0383163    1          383
max specificity              0.341367     0.999196   0
max absolute_mcc             0.111861     0.0854449  258
max min_per_class_accuracy   0.133199     0.541801   214
max mean_per_class_accuracy  0.111861     0.559182   258
max tns                      0.341367     1243       0
max fns                      0.341367     205        0
max fps                      0.0193279    1244       399
max tps                      0.0383163    205        383
max tnr                      0.341367     0.999196   0
max fnr                      0.341367     1          0
max fpr                      0.0193279    1          399
max tpr                      0.0383163    1          383

Gains/Lift Table: Avg response rate: 14.15 %, avg score: 13.49 %
group    cumulative_data_fraction    lower_threshold    lift      cumulative_lift    response_rate    score      cumulative_response_rate    cumulative_score    capture_rate    cumulative_capture_rate    gain      cumulative_gain    kolmogorov_smirnov
-------  --------------------------  -----------------  --------  -----------------  ---------------  ---------  --------------------------  ------------------  --------------  -------------------------  --------  -----------------  --------------------
1        0.010352                    0.287034           0         0                  0                0.309162   0                           0.309162            0               0                          -100      -100               -0.0120579
2        0.0200138                   0.269562           1.51463   0.731203           0.214286         0.27669    0.103448                    0.293486            0.0146341       0.0146341                  51.4634   -26.8797           -0.00626618
3        0.0303658                   0.254569           0.47122   0.642572           0.0666667        0.262547   0.0909091                   0.282938            0.00487805      0.0195122                  -52.878   -35.7428           -0.0126421
4        0.0400276                   0.245421           0.504878  0.609336           0.0714286        0.250347   0.0862069                   0.275071            0.00487805      0.0243902                  -49.5122  -39.0664           -0.0182143
5        0.0503796                   0.23698            1.41366   0.774607           0.2              0.240655   0.109589                    0.267999            0.0146341       0.0390244                  41.3659   -22.5393           -0.0132264
6        0.100069                    0.212204           1.37439   1.07243            0.194444         0.225022   0.151724                    0.246659            0.0682927       0.107317                   37.439    7.24306            0.00844248
7        0.150449                    0.195572           1.35556   1.16724            0.191781         0.204162   0.165138                    0.232428            0.0682927       0.17561                    35.5563   16.7241            0.0293075
8        0.200138                    0.182208           1.47256   1.24304            0.208333         0.18821    0.175862                    0.22145             0.0731707       0.24878                    47.2561   24.3045            0.0566583
9        0.300207                    0.157465           1.21867   1.23492            0.172414         0.169769   0.174713                    0.204223            0.121951        0.370732                   21.8671   23.492             0.0821465
10       0.400276                    0.140905           0.92619   1.15774            0.131034         0.148845   0.163793                    0.190379            0.0926829       0.463415                   -7.38099  15.7738            0.0735433
11       0.500345                    0.128716           1.16992   1.16017            0.165517         0.135066   0.164138                    0.179316            0.117073        0.580488                   16.9924   16.0175            0.0933495
12       0.599724                    0.115903           1.12896   1.155              0.159722         0.121949   0.163406                    0.16981             0.112195        0.692683                   12.8963   15.5003            0.108278
13       0.699793                    0.102051           0.584962  1.07349            0.0827586        0.109261   0.151874                    0.161151            0.0585366       0.75122                    -41.5038  7.34882            0.0599012
14       0.799862                    0.086301           0.974937  1.06116            0.137931         0.094072   0.150129                    0.152759            0.097561        0.84878                    -2.50631  6.11587            0.0569798
15       0.899931                    0.0680204          0.877443  1.04073            0.124138         0.0775294  0.147239                    0.144394            0.0878049       0.936585                   -12.2557  4.07302            0.0426947
16       1                           0.0193279          0.633709  1                  0.0896552        0.0499342  0.141477                    0.134942            0.0634146       1                          -36.6291  0                  0

##REGRESSION

In [36]:
data2 = h2o.H2OFrame(df_copy)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [37]:
data2.describe()

Rows:9709
Cols:20

         ID                  Gender              Own_car              Own_property        Work_phone           Phone                Email                Unemployed          Num_children         Num_family          Account_length      Total_income        Age                 Years_employed      Income_type           Education_type                 Family_status         Housing_type       Occupation_type    Target
-------  ------------------  ------------------  -------------------  ------------------  -------------------  -------------------  -------------------  ------------------  -------------------  ------------------  ------------------  ------------------  ------------------  ------------------  --------------------  -----------------------------  --------------------  -----------------  -----------------  --------
type     int                 int                 int                  int                 int                  int                  int                  int                 int                  int                 int                 real                real                real                enum                  enum                           enum                  enum               enum               enum
mins     5008804.0           0.0                 0.0                  0.0                 0.0                  0.0                  0.0                  0.0                 0.0                  1.0                 0.0                 27000.0             20.504185575336933  0.0
mean     5076104.679060664   0.3487485837882377  0.36770007209805333  0.671541868369554   0.21742712946750437  0.2876712328767123   0.08754763621382222  0.1746832835513441  0.42280358430322246  2.1826140694201257  27.270058708414904  181228.19456174638  43.784093083598485  5.664730161452851
maxs     5150479.0           1.0                 1.0                  1.0                 1.0                  1.0                  1.0                  1.0                 19.0                 20.0                60.0                1575000.0           68.86383703977495   43.02073280081042
sigma    40802.696052772466  0.4765987878099639  0.4822039797226454   0.4696765995682179  0.4125167873991112   0.45270034532244624  0.2826504487639636   0.3797155310732071  0.7670189141552809   0.9329181887062356  16.648056893148983  99277.30509737751   11.625767724979015  6.3422412768887755
zeros    0                   6323                6139                 3189                7598                 6916                 8859                 8013                6819                 0                   57                  0                   0                   1696
missing  0                   0                   0                    0                   0                    0                    0                    0                   0                    0                   0                   0                   0                   0                   0                     0                              0                     0                  0                  0
0        5008804.0           1.0                 1.0                  1.0                 1.0                  0.0                  0.0                  0.0                 0.0                  2.0                 15.0                427500.0            32.86857361889703   12.4355736257418    Working               Higher education               Civil marriage        Rented apartment   Other              Y
1        5008806.0           1.0                 1.0                  1.0                 0.0                  0.0                  0.0                  0.0                 0.0                  2.0                 29.0                112500.0            58.79381506807121   3.104786545924968   Working               Secondary / secondary special  Married               House / apartment  Security staff     N
2        5008808.0           0.0                 0.0                  1.0                 0.0                  1.0                  1.0                  0.0                 0.0                  1.0                 4.0                 270000.0            52.32140290355038   8.353354278321937   Commercial associate  Secondary / secondary special  Single / not married  House / apartment  Sales staff        N
3        5008812.0           0.0                 0.0                  1.0                 0.0                  0.0                  0.0                  1.0                 0.0                  1.0                 20.0                283500.0            61.50434300498984   0.0                 Pensioner             Higher education               Separated             House / apartment  Other              N
4        5008815.0           1.0                 1.0                  1.0                 1.0                  1.0                  1.0                  0.0                 0.0                  2.0                 5.0                 270000.0            46.1939670219101    2.1054504883741623  Working               Higher education               Married               House / apartment  Accountants        N
5        5008819.0           1.0                 1.0                  1.0                 0.0                  0.0                  0.0                  0.0                 0.0                  2.0                 17.0                135000.0            48.67451077024169   3.269060966344278   Commercial associate  Secondary / secondary special  Married               House / apartment  Laborers           N
6        5008825.0           0.0                 1.0                  0.0                 0.0                  0.0                  0.0                  0.0                 0.0                  2.0                 25.0                130500.0            29.210729857560388  3.019911428708324   Working               Incomplete higher              Married               House / apartment  Accountants        Y
7        5008830.0           0.0                 0.0                  1.0                 0.0                  1.0                  0.0                  0.0                 0.0                  2.0                 31.0                157500.0            27.46394518710172   4.021985393266117   Working               Secondary / secondary special  Married               House / apartment  Laborers           Y
8        5008834.0           0.0                 0.0                  1.0                 0.0                  0.0                  0.0                  0.0                 1.0                  2.0                 44.0                112500.0            30.02936405264995   4.435409351321383   Working               Secondary / secondary special  Single / not married  House / apartment  Other              N
9        5008836.0           1.0                 1.0                  1.0                 0.0                  0.0                  0.0                  0.0                 3.0                  5.0                 24.0                270000.0            34.74130201167717   3.1841858491276342  Working               Secondary / secondary special  Married               House / apartment  Laborers           N
[9709 rows x 20 columns]

Splitting data into train test and validation set

In [38]:
data_train2,data_test2,data_valid2 = data2.split_frame(ratios=[.7, .15])

In [39]:
data_train2.head()

         ID    Gender    Own_car    Own_property    Work_phone    Phone    Email    Unemployed    Num_children    Num_family    Account_length    Total_income      Age    Years_employed  Income_type           Education_type                 Family_status         Housing_type       Occupation_type    Target
-----------  --------  ---------  --------------  ------------  -------  -------  ------------  --------------  ------------  ----------------  --------------  -------  ----------------  --------------------  -----------------------------  --------------------  -----------------  -----------------  --------
5.0088e+06          1          1               1             1        0        0             0               0             2                15          427500  32.8686          12.4356   Working               Higher education               Civil marriage        Rented apartment   Other              Y
5.00881e+06         1          1               1             0        0        0             0               0             2                29          112500  58.7938           3.10479  Working               Secondary / secondary special  Married               House / apartment  Security staff     N
5.00881e+06         0          0               1             0        1        1             0               0             1                 4          270000  52.3214           8.35335  Commercial associate  Secondary / secondary special  Single / not married  House / apartment  Sales staff        N
5.00881e+06         0          0               1             0        0        0             1               0             1                20          283500  61.5043           0        Pensioner             Higher education               Separated             House / apartment  Other              N
5.00882e+06         1          1               1             1        1        1             0               0             2                 5          270000  46.194            2.10545  Working               Higher education               Married               House / apartment  Accountants        N
5.00882e+06         1          1               1             0        0        0             0               0             2                17          135000  48.6745           3.26906  Commercial associate  Secondary / secondary special  Married               House / apartment  Laborers           N
5.00883e+06         0          0               1             0        1        0             0               0             2                31          157500  27.4639           4.02199  Working               Secondary / secondary special  Married               House / apartment  Laborers           Y
5.00884e+06         1          0               1             0        0        0             0               1             3                39          405000  32.4223           5.51962  Commercial associate  Higher education               Married               House / apartment  Managers           N
5.00884e+06         1          1               1             0        1        0             0               0             2                43          112500  56.1326          12.1837   Commercial associate  Secondary / secondary special  Married               House / apartment  Drivers            N
5.00885e+06         0          1               1             0        0        0             0               2             4                39          135000  43.1522           8.68738  Working               Secondary / secondary special  Married               House / apartment  Laborers           N
[10 rows x 20 columns]

In [40]:
y2 = "Total_income"
x2 = data.columns
x2.remove(y2)
x2

['ID',
 'Gender',
 'Own_car',
 'Own_property',
 'Work_phone',
 'Phone',
 'Email',
 'Unemployed',
 'Num_children',
 'Num_family',
 'Account_length',
 'Age',
 'Years_employed',
 'Income_type',
 'Education_type',
 'Family_status',
 'Housing_type',
 'Occupation_type',
 'Target']

In [41]:
aml2 = H2OAutoML(max_models = 10, seed = 10, verbosity="info", nfolds=0)

In [42]:
aml2.train(x = x2, y = y2, training_frame = data_train2, validation_frame=data_valid2)

AutoML progress: |
01:53:26.834: Project: AutoML_3_20221108_15326
01:53:26.834: Cross-validation disabled by user: no fold column nor nfolds > 1.
01:53:26.835: Setting stopping tolerance adaptively based on the training frame: 0.012113428212804355
01:53:26.835: Build control seed: 10
01:53:26.835: training frame: Frame key: AutoML_3_20221108_15326_training_py_21_sid_b8a4    cols: 20    rows: 6815  chunks: 1    size: 232932  checksum: -1641328085119881042
01:53:26.835: validation frame: Frame key: py_23_sid_b8a4    cols: 20    rows: 1424  chunks: 1    size: 54712  checksum: 6029893344071383551
01:53:26.835: leaderboard frame: Frame key: py_23_sid_b8a4    cols: 20    rows: 1424  chunks: 1    size: 54712  checksum: 6029893344071383551
01:53:26.835: blending frame: NULL
01:53:26.835: response column: Total_income
01:53:26.835: fold column: null
01:53:26.835: weights column: null
01:53:26.836: Loading execution steps: [{XGBoost : [def_2 (1g, 10w), def_1 (2g, 10w), def_3 (3g, 10w), grid_1 (4g, 90w), lr_search (7g, 30w)]}, {GLM : [def_1 (1g, 10w)]}, {DRF : [def_1 (2g, 10w), XRT (3g, 10w)]}, {GBM : [def_5 (1g, 10w), def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w), def_1 (3g, 10w), grid_1 (4g, 60w), lr_annealing (7g, 10w)]}, {DeepLearning : [def_1 (3g, 10w), grid_1 (4g, 30w), grid_2 (5g, 30w), grid_3 (5g, 30w)]}, {completion : [resume_best_grids (6g, 60w)]}, {StackedEnsemble : [monotonic (9g, 10w), best_of_family_xglm (10g, 10w), all_xglm (10g, 10w)]}]
01:53:26.840: AutoML job created: 2022.11.08 01:53:26.834
01:53:26.842: AutoML build started: 2022.11.08 01:53:26.842
01:53:26.847: AutoML: starting XGBoost_1_AutoML_3_20221108_15326 model training


01:53:28.857: New leader: XGBoost_1_AutoML_3_20221108_15326, rmse: 104250.82324408139
01:53:28.860: AutoML: starting GLM_1_AutoML_3_20221108_15326 model training

█
01:53:29.227: New leader: GLM_1_AutoML_3_20221108_15326, rmse: 102569.20720102006
01:53:29.229: AutoML: starting GBM_1_AutoML_3_20221108_15326 model training

█
01:53:30.596: New leader: GBM_1_AutoML_3_20221108_15326, rmse: 95114.05712984745
01:53:30.597: AutoML: starting XGBoost_2_AutoML_3_20221108_15326 model training

█
01:53:31.712: AutoML: starting DRF_1_AutoML_3_20221108_15326 model training

█████
01:53:36.676: AutoML: starting GBM_2_AutoML_3_20221108_15326 model training
01:53:37.497: AutoML: starting GBM_3_AutoML_3_20221108_15326 model training
01:53:38.327: AutoML: starting GBM_4_AutoML_3_20221108_15326 model training

█
01:53:39.314: AutoML: starting XGBoost_3_AutoML_3_20221108_15326 model training


01:53:39.929: AutoML: starting XRT_1_AutoML_3_20221108_15326 model training

███
01:53:43.114: No base models, due to timeouts or the exclude_algos option. Skipping StackedEnsemble 'monotonic'.
01:53:43.115: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family_xglm'.
01:53:43.115: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'all_xglm'.
01:53:43.115: Actual modeling steps: [{XGBoost : [def_2 (1g, 10w)]}, {GLM : [def_1 (1g, 10w)]}, {GBM : [def_5 (1g, 10w)]}, {XGBoost : [def_1 (2g, 10w)]}, {DRF : [def_1 (2g, 10w)]}, {GBM : [def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w)]}, {XGBoost : [def_3 (3g, 10w)]}, {DRF : [XRT (3g, 10w)]}]
01:53:43.115: AutoML build stopped: 2022.11.08 01:53:43.115
01:53:43.115: AutoML build done: built 10 models
01:53:43.115: AutoML duration: 16.273 sec

███████████████████████████████████████████████████| (done) 100%

Model Details
=============
H2OGradientBoostingEstimator : Gradient Boosting Machine
Model Key: GBM_1_AutoML_3_20221108_15326


Model Summary:
    number_of_trees    number_of_internal_trees    model_size_in_bytes    min_depth    max_depth    mean_depth    min_leaves    max_leaves    mean_leaves
--  -----------------  --------------------------  ---------------------  -----------  -----------  ------------  ------------  ------------  -------------
    35                 35                          20105                  9            15           11.9143       36            43            40.8

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 6672659781.799553
RMSE: 81686.3500335249
MAE: 56644.3292679292
RMSLE: 0.4059214581881492
Mean Residual Deviance: 6672659781.799553

ModelMetricsRegression: gbm
** Reported on validation data. **

MSE: 9046683863.699884
RMSE: 95114.05712984745
MAE: 64066.478944789764
RMSLE: 0.455015543773775
Mean Residual Deviance: 9046683863.699884

Scoring History:
    timestamp            duration    number_of_trees    training_rmse    training_mae    training_deviance    validation_rmse    validation_mae    validation_deviance
--  -------------------  ----------  -----------------  ---------------  --------------  -------------------  -----------------  ----------------  ---------------------
    2022-11-08 01:53:29  0.018 sec   0                  98471.1          68962.6         9.69655e+09          102569             70147.3           1.05204e+10
    2022-11-08 01:53:29  0.205 sec   5                  91465.4          63671.3         8.36591e+09          97978.8            66142.7           9.59985e+09
    2022-11-08 01:53:29  0.418 sec   10                 87796.1          60966.5         7.70816e+09          95971.7            64631.6           9.21057e+09
    2022-11-08 01:53:29  0.621 sec   15                 85756            59550.7         7.35409e+09          95157.4            64071.3           9.05493e+09
    2022-11-08 01:53:30  0.800 sec   20                 84362.9          58549.3         7.1171e+09           94873.4            63818.6           9.00096e+09
    2022-11-08 01:53:30  0.960 sec   25                 83355.2          57792.9         6.94808e+09          94827              63773.6           8.99217e+09
    2022-11-08 01:53:30  1.126 sec   30                 82508.8          57168.1         6.80771e+09          94986.2            63907             9.02238e+09
    2022-11-08 01:53:30  1.350 sec   35                 81686.4          56644.3         6.67266e+09          95114.1            64066.5           9.04668e+09

Variable Importances:
variable         relative_importance    scaled_importance    percentage
---------------  ---------------------  -------------------  ------------
Occupation_type  3.49239e+13            1                    0.343046
Education_type   1.44181e+13            0.412844             0.141624
Age              1.03705e+13            0.296947             0.101867
Own_car          8.47515e+12            0.242675             0.0832487
Gender           8.03245e+12            0.229999             0.0789002
Income_type      5.29306e+12            0.15156              0.051992
Years_employed   4.96339e+12            0.14212              0.0487538
ID               3.75757e+12            0.107593             0.0369094
Account_length   3.66913e+12            0.105061             0.0360407
Work_phone       1.65962e+12            0.047521             0.0163019
Own_property     1.20157e+12            0.0344054            0.0118027
Phone            1.11615e+12            0.0319595            0.0109636
Family_status    1.10892e+12            0.0317524            0.0108925
Email            1.05291e+12            0.0301487            0.0103424
Unemployed       6.33705e+11            0.0181453            0.00622468
Housing_type     3.64982e+11            0.0104508            0.0035851
Num_family       3.5305e+11             0.0101091            0.00346789
Num_children     2.34498e+11            0.00671453           0.0023034
Target           1.76535e+11            0.00505484           0.00173404

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [43]:
lb2 = aml2.leaderboard

In [44]:
lb2.head()

model_id                               rmse          mse      mae     rmsle    mean_residual_deviance
---------------------------------  --------  -----------  -------  --------  ------------------------
GBM_1_AutoML_3_20221108_15326       95114.1  9.04668e+09  64066.5  0.455016               9.04668e+09
GBM_3_AutoML_3_20221108_15326       96244.3  9.26296e+09  64705.1  0.457338               9.26296e+09
GBM_2_AutoML_3_20221108_15326       96461    9.30472e+09  64580.6  0.457398               9.30472e+09
XRT_1_AutoML_3_20221108_15326       97283.1  9.464e+09    66153.5  0.46896                9.464e+09
XGBoost_3_AutoML_3_20221108_15326   97343.2  9.47569e+09  65788    0.465796               9.47569e+09
GBM_4_AutoML_3_20221108_15326       97491.6  9.5046e+09   65492.3  0.462699               9.5046e+09
DRF_1_AutoML_3_20221108_15326       98382.4  9.6791e+09   66026.5  0.46888                9.6791e+09
GLM_1_AutoML_3_20221108_15326      102569    1.05204e+10  70147.3  0.502947               1.05204e+10
XGBoost_2_AutoML_3_20221108_15326  103115    1.06326e+10  69203.5  0.498492               1.06326e+10
XGBoost_1_AutoML_3_20221108_15326  104251    1.08682e+10  71126.6  0.508771               1.08682e+10
[10 rows x 6 columns]

In [55]:
# finding and storing the best model
best_model2 = h2o.get_model(aml2.leaderboard[0,'model_id'])

In [56]:
# printing the best model
best_model2.algo

'gbm'

In [45]:
data_pred2=aml2.leader.predict(data_test2)

gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

In [46]:
data_pred2.head()

  predict
---------
   154439
   199242
   258070
   181942
   171431
   163011
   167728
   155240
   167881
   206183
[10 rows x 1 column]

In [47]:
aml2.leader.model_performance(data_test2)

ModelMetricsRegression: gbm
** Reported on test data. **

MSE: 8056347909.726555
RMSE: 89757.16077130869
MAE: 62219.4875280458
RMSLE: 0.44957592033783816
Mean Residual Deviance: 8056347909.726555

##ANSWERS

**1.** Is the relationship significant?

**Answer:** 

**Multinomial Classification-**
Yes, the 'Total_income', 'Years_employed' are significant variables.

**Binary Classification-**
Yes, the 'Total Income' are significant variables.

**Regression-**
Yes, the 'Total_income','Years_employed' are significant variables.

**2.** Are any model assumptions violated?

**Answer:** 

**Multinomial Classification-**
The best model is glm and there are 4 assumptions to validate which  are linearity, homoskedasticity (constant variance), normality and Independence.

**Binary Classification-**
The best model is glm and there are 3 assumptions to validate which  are linearity, homoskedasticity (constant variance), normality.

**Regression-**
For GBM model there are no assumtions to validate because it is a tree based model. Hence, it serves to be the best model.

**3.**  Is there any multicollinearity in the model?

**Answer:** Yes, there is multicollinearity in the Regression model

**4.** In the multivariate models are predictor variables independent of all the other predictor variables?

 **Answer:** 

 Yes, the predictor variables are independent of all the other predictor variables in the multivariate models.

**5.** In multivariate models rank the most significant predictor variables and exclude insignificant ones from the model.

**Answer:**
The top 3 significant predictor variables for the multivariate model are ranked as follows- 

  1. Years_employed	
  2. Unemployed	
  3. ID

**6.** Does the model make sense?

**Answer:**

**Multinomial Classification-**
In this, the models used does make sense. The log loss vlaues is very close to 0 and the AUC value is 1 which is the score a perfect classifier should help.


**Binary Classification-**
The models used does make sense. The log loss vlaues is very close to 0 and the AUC value is 1 which is the score a perfect classifier should help.

**Regression-**
The model does not look like a optimal solution because we are trying to predict 'Income' based on the factors which is not the case as multicollinearity is found in the data. So, it does not make sense for Regression.

**7.** Does regularization help?

**Answer:**

Yes, regularization helps in optimizing the results.

**8.** Which hyperparameters are important?

**Answer:**

A simple GBM model in Regression contains two categories of hyperparameters: boosting hyperparameters and tree-specific hyperparameters. The two main boosting hyperparameters include: Number of trees: The total number of trees in the sequence or ensemble.

##REFRENCES

1. 6105_Airlines_GBM_AutoML.ipynb 
2. Python Data Science Handbook
3. Sckit learn offcial documentation
4. AmazonReviews.ipynb


Refered to the sample notebook (Abalone dataset) to undertsand expected assignment format. 

Used Sckitlearn tools to implement models. Used mlxtend for bias and variance. Used eli5 to predict and understand feature importance. 

Refered to Analytics Vidhya and Python Data science Handbook to study different models and concepts. 

Copyright 2022 *Jatin Madan*

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.